<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

    <h1>Today is <%=kindOfDay%>. </h1>

    <ul>
    <%  for (var i = 0; i<newListItems.length;  i ++){ %>
        <li><%=newListItems[i]%></li>
      <%   } %>

    </ul>

    <form class="" action="/" method="post">
      <label for="task">New Task:</label>
      <input type="text" name="newTask">
      <button type="submit" name="button">Add</button>
    </form>

  </body>
</html>
